body{
    margin: 0px;
    padding: 0px;
}
.full-banner{
    padding: 50px 140px;
}
.Banner-Profile{
    width: 1320px;
height: 600px;
border-radius: 16px;
    background-image:  linear-gradient(180.00deg, rgb(6, 3, 12),rgba(7, 2, 17, 0) 100%), url('../resources/Banner\ Image.png');
}
.Banner{
    position: relative; 
    text-align: center;
    color: white;                                                                                                                                                             
}
.first{
    position: absolute;
    top: 150px;
    left: 530px;
font-size: 32px;
font-weight: 400;
margin-bottom:0px auto;
}
.second{
position: absolute;
width: 632px;
height: 190px;
left: 330px;
right: 484px;
top: 200px;
bottom: 177px;
font-size: 72px;
font-weight: 900;
gap: 16px;
}